/* Background Gears */
.bg-gear-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.gear-pair {
    position: absolute;
    will-change: transform;
}

.gear-top-left {
    top: -10%;
    left: -10%;
    width: 35vw;
    height: 35vw;
    max-width: 600px;
    max-height: 600px;
    opacity: 0.15;
}

.gear-bottom-right {
    bottom: -10%;
    right: -10%;
    width: 30vw;
    height: 30vw;
    max-width: 500px;
    max-height: 500px;
    opacity: 0.15;
}

.gear-main {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 768px) {
    .gear-top-left {
        width: 60vw;
        height: 60vw;
        top: -5%;
        left: -15%;
    }

    .gear-bottom-right {
        width: 50vw;
        height: 50vw;
        bottom: -5%;
        right: -15%;
    }
}